<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>pictures</title>
<link rel="stylesheet" href="css/blogPicture.css">
</head>
<body>
	<div id="picture_text1">
		<img id="picture_1" class="picture picture_left"
			src="picture/d51c9168ae8b970d0652566146f1b28.jpg"> <img
			id="picture_2" class="picture picture_right"
			src="picture/44f7744c0fd5a417db844788077f8aa.jpg">
	</div>
	<div id="picture_text2">
		<img id="picture_3" class="picture picture_left"
			src="picture/06665787e5669a752a0a4ddedc32450.jpg"> <img
			id="picture_4" class="picture picture_right"
			src="picture/004e2b2c9c87176d5bffffc3ad188dc.jpg">
	</div>
	<button id="button_text">
		<a href="/blogEditor">Editor</a>
	</button>
</body>
</html>
