<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>myBlog</title>
<link rel="stylesheet" href="css/myBlog.css">
</head>
<body>
	<h4 id="text_size">
		Hello,<span th:text="${name}"></span>
	</h4>
	<div id="picture_text">
		<img id="picture_size"
			src="picture/3012c3b0da499f7fb1fae0a5ef41bc3.jpg" width="400"
			height="450">
		<div id="introduction">
			<p id="text_size_title">初めまして</p>
			<p style="font-size: 22px;">自己紹介</p>
			<p>
				私の趣味は写真を撮ることです。<br> 写真は、人生に＋aの付加価値を与えてくれるもので、日常が楽しくなってきます。<br>
				よかったら Instagramをフォローしてください。
			</p>
			<a th:href="@{/blogPicture}">写真一覧</a>
			<form th:action="@{/blogEditor}" method="post">
				<input type="submit" value="add">
				 <input type="hidden" name="username" th:value="${name}">
			</form>
		</div>
	</div>
	<hr>
	<div style="margin-bottom: 70px" th:each="blog:${blogs}">
		<table class="blog">
			<tr>
				<th><span th:text="${blog.title}"></span></th>
			</tr>
			<tr>
				<td><span th:text="${blog.content}"></span></td>
			</tr>
			<tr>
				<td>
					<button class="button_edit">Edit</button> 
					  <form>
        			 <input type="hidden" name="id" th:value="${blog.id}">
          　　　　　
					<button  class="button_delete">Delete </button></form>
				</td>
			</tr>
		</table>
		<hr>
	</div>
	<div>
		<p id="tel_pos">Tel:123456</p>
		<p id="email_pos">Email:ly13253211668@gamil.com</p>
		<p id="instagram_pos">Fllow me in Instagram :dhehde</p>
	</div>
</body>
</html>